* {
    margin: 0;
    margin-top: 10px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #2b2d42;
    color: #edf2f4;
}

h2 {
    font-size: xx-large;
}

span{
    color: #ef233c;
}
